.card {
	padding: 10px;
	&__href {
		position: relative;
		z-index: auto;
		background: #fff;
    display: block;
    height: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 2px 2px rgba(0,0,0,0.1);
    overflow: hidden;
		border-radius: 5px;
		&:hover {
			color: #3260B1;
			box-shadow: 0 2px 2px rgba(41,47,56,0.1), 0 4px 4px rgba(41,47,56,0.1), 0 8px 8px rgba(41,47,56,0.1), 0 16px 16px rgba(41,47,56,0.1), 0 32px 32px rgba(41,47,56,0.1);
			transform: translateY(-5px)
		}
		&:hover .blog-img {
			transition: all .25s;
		}
		&:hover .blog-img img {
			transform: scale(1.08);
			opacity: .6;
			transition: all 0.25s;
		}
		.card__text {
			margin: 0;
			transition: color .15s;
		}
		&:hover .card__text {
			color: $accent;
			transition: color .25s ease;
		}
	}
	figure {
		position: relative;
		margin: 0;
		overflow: hidden;
		figcaption {
			position: absolute;
			bottom: 0;
			padding: 5%;
			width: 100%;
			background: rgba(0, 0, 0, .75);
			transition: ease .5s;
			z-index: 0;
		}
	}
	&__title {
		text-align: left;
		vertical-align: bottom;
		margin-bottom: 0;
		color: #ffffff;
	}
}

.blog-img img {
	cursor: pointer;
	width: 100%;
	opacity: .9;
	transition: all .3s ease;
}