@import "vars";
@import "fonts";
@import "libs";


::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

section {
	margin-bottom: 10px;
}

body {
	position: relative;
	font-size: 18px;
	min-width: 320px;
	line-height: 1.5;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}

a {
	color: $accent;
	text-decoration: none;
	&:hover, &:focus {
		text-decoration: none;
		color: $accent;
	}
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

h2, p, figure, article {
	margin: 0;
	padding: 0;
}

.parallax-window {
	min-height: 600px;
	background: transparent;
	background-size: cover;
}

.h-center-wraper {
	position: relative;

	.h-center {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.opacity-medium {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	opacity: .6;
}

.bg-extra-dark-gray {
	background-color: #1c1c1c;
}

@import "layouts/header";

@import "layouts/section-header";

@import "layouts/section-card";

@import "layouts/footer";

@import "media"; // Always at the end
